.toast-success {
    background-color: #198754 !important;
    /* verde bootstrap */
    color: white;
    font-weight: bold;
}

.toast-error {
    background-color: #dc3545;
    /* rosso bootstrap */
    color: white;
    font-weight: bold;
}

.toast-info {
    background-color: #0dcaf0;
    /* azzurro bootstrap */
    color: black;
    font-weight: 500;
}