@if (vm()) {
<div class="row">

    <!-- Colonna sinistra: avatar a rapporto naturale -->
    <div class="col-4">
        <div class="card">
            <img [src]="avatarUrl()" [alt]="vm()?.knownAs || 'User photo'"
                class="img-fluid img-thumbnail profile-photo" />
        </div>

        <div class="card-body">
            <div>
                <strong>Location:</strong>
                <p>{{ vm()?.city }}, {{ vm()?.country }}</p>
            </div>
            <div>
                <strong>Age:</strong>
                <p>{{ vm()?.age }} years</p>
            </div>
            <div>
                <strong>Last Active:</strong>
                <p>{{ vm()?.lastActive | date:'dd MMM yyyy':'':'it-IT' }}</p>
            </div>
            <div>
                <strong>Member since:</strong>
                <p>{{ vm()?.created | date:'dd MMM yyyy':'':'it-IT' }}</p>
            </div>
        </div>

        <div class="card-footer">
            <div class="btn-group d-flex">
                <button class="btn btn-primary">Like</button>
                <button class="btn btn-success">Message</button>
            </div>
        </div>
    </div>

    <!-- Colonna destra: tabs -->
    <div class="col-8">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li [ngbNavItem]="1">
                <button ngbNavLink>About {{ vm()?.knownAs }}</button>
                <ng-template ngbNavContent>
                    <h4>Description</h4>
                    <p>{{ vm()?.introduction }}</p>
                    <h4 class="mt-4">Looking For</h4>
                    <p>{{ vm()?.lookingFor }}</p>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Interests</button>
                <ng-template ngbNavContent>
                    <h4>Interests</h4>
                    <p>{{ vm()?.interests }}</p>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <button ngbNavLink>Photos</button>
                <ng-template ngbNavContent>
                    @if (images().length > 0) {
                    <ngb-carousel *ngIf="images().length > 0" [interval]="0">
                        @for (image of images(); track $index) {
                        <ng-template ngbSlide>
                            <img [src]="image.url || 'assets/user.png'" class="d-block w-100" [alt]="'photo ' + ($index + 1)" />
                        </ng-template>
                        }
                    </ngb-carousel>
                    } @else {
                    <img src="assets/user.png" class="d-block w-100" alt="no image available" />
                    }
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <button ngbNavLink>Messages</button>
                <ng-template ngbNavContent>
                    <p>Messages will go here</p>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-3"></div>
    </div>

</div>
}
